/*
 * Row with equal height columns
 * --------------------------------------------------
 */
.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
    //fix for scrollbars on items using this class
    overflow-x:hidden;
}

/*
 * Styles copied from the Grid example to make grid rows & columns visible.
 */
.container {
  padding-right: 15px;
  padding-left: 15px;
}

//.row {
//  margin-bottom: 20px;
//}
.row .row {
  margin-top: 10px;
  margin-bottom: 0;
}