//Brand Colors
$white:#fff;
$black:#000;
$dpp-primary:#A0270B;//CRM primary is A0270B
$dpp-lightblue:#71b8e4;
$dpp-darkblue:#20283f;
$dpp-green:#50ad50;
$dpp-red:#A0270B;
$light-gray:#999;
$gray:#666;
$darkgray:#333;
$silver:#cccccc;

//Interface Colors
$muted-green:#50ad50;
$muted-red:#A0270B;
$subtle-gray:#eaeaea;
$alabaster:#fafafa;
$gallery:#efefef;
$status-active:#81c31a;
$status-inactive:#A0270B;
$status-sent:#2a9dc9;
$status-draft:#ebb91f;